.myButton {
  background-color:#ffffff;
  border-radius:6px;
  display:inline-block;
  cursor:pointer;
  padding:3px 28px;
  text-decoration:none;
  border: 2px solid #FFFFFF;
  color:#000000;
  font-family:"Roboto-Regular";
  font-size:19px;
  text-decoration:none;
  text-align: center;
  max-width: 132px;
  height: 36px;
}

.signin{
  max-width: 132px;
  height: 38px;
  font-size: 22px;
}

.secondary{
  background-color:#FCF31A;
}
/* .myButton:hover {
  background-color:#e42fa85d;
} */


/* .myButton:active {
  position:relative;
  top:1px;
} */

