.btn {
  width: 196px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  margin: 0px 0px 0px 0px;
  background:#000000;
  color: white;
  border: none;
  
  &:hover {
    background: #000000;
  }
  
}

.modalHeader{
 padding: 0px 0px 18px 0px; 
}

.backdropStyle {
  top: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  padding: 80px;
}

.modalStyleLogIn {
  position: relative;
  background: #ffffff;
  font-family:"Roboto-Medium";
  font-size: 20px;
  border: 5px;
  max-width: 300px;
  top: 27%;
  min-height: 245px;
  margin:  0px auto;
  padding: 0px;
  align-items: center;
  display: flex;
};

.interface {
  padding: 0px 0px;
  margin: auto;

  img {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}


.inputLoginModal{
  font-family:"Roboto-Medium";
  font-size:18px;
  border: 1px black solid;
  width: 180px;
  height: 34px;
  padding: 0px 0px 0px 5px;
  margin: 0px 0px 8px 0px;
}

