.btn {
  width: 80px;
  height: 80px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.horizontalBar::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 36px;
  top: calc(50% - 4px);
  background: #109CF1;
  right: calc(50% - 18px);
  overflow: hidden;
  border-radius: 10px;
}
.verticalBar::after {
  content: "";
  position: absolute;
  height: 36px;
  width: 8px;
  top: calc(50% - 18px);
  background: #109CF1;
  overflow: hidden;
  right: calc(50% - 4px);
  border-radius: 10px; 
}

.btn:focus {
  outline: none;
}