.page {
  background-color: #BFBFBF;
  height: 100vh;
  width: 100%;
}

.content{
  position: relative;
  top: 30%;
  left: 25%;
  width: 570px;
  @media screen and (max-width: 777px){
    left: 0%;
    margin: 0px auto;
  }
}

.headerTitle{
  color: #ffffff;
  font-family:"Oswald-Regular";
  font-size:70px;
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
  width: 85%;
 
}

/* .button{
  align-items: right;
} */

